@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer components {
  .link {
    @apply cursor-pointer hover:underline;
  }
  .button-outline {
    @apply rounded-md border-2 border-red-500 hover:bg-red-600 hover:text-black duration-500 py-2 px-6 text-red-600 tracking-wider;
  }

  .primary-btn {
    @apply bg-red-500 text-white hover:bg-red-600  duration-500 rounded-lg py-2 px-4;
  }
}
body{
  font-family: "Inter" , "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}
.dancing-script{
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 900;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 900;
  font-style: normal;
}
.shadows-into-light-regular {
  font-family: "Shadows Into Light", serif;
  font-weight: 900;
  font-style: normal;
}
.gabarito{
  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}